{
  "presets": [
    [
      "es2015", "env"
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
